<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin: 0;padding: 0;">

<head>
    <!-- If you delete this meta tag, Half Life 3 will never be released. -->
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Galaxy of Love</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500|Open+Sans:300,400,600,700,800|Work+Sans:100" rel="stylesheet">
    <link rel="icon" type="image/vnd.microsoft.icon" href="http://localhost:3030/public/images/icon.ico" />
</head>

<body bgcolor="#fff" style="margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%!important;">
	<p>
	<h2>New update for the Admin on GOL Server - </h2>
	<br><br>
	<strong>Message</strong> : {{msg}}
	<br><br>
    {{#if err}}
	<strong>Error</strong> : {{err}}
    <br><br>
    {{/if}}
    {{#if errData}}
    <strong>Data</strong> : {{errData}}
    {{/if}}
<p>
    <!-- FOOTER -->
</body>

</html>



