<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin: 0;padding: 0;">

<head>
    <!-- If you delete this meta tag, Half Life 3 will never be released. -->
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Galaxy of Love</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500|Open+Sans:300,400,600,700,800|Work+Sans:100" rel="stylesheet">
    <link rel="icon" type="image/vnd.microsoft.icon" href="http://localhost:3030/public/images/icon.ico" />
</head>

<body bgcolor="#fff" style="margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%!important;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fff; ">
        <tbody>
            <tr>
                <td align="center" valign="top" style="height:100%;margin:0;padding:30px;width:100%;border-top:0">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0;max-width:600px!important;">
                        <tbody>
                            <tr>
                                <td valign="top" style="background-color:#1abc9c;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px;border-radius:6px 6px 0px 0px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="366" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding-top:20px;padding-left:18px;padding-bottom:20px;padding-right:0;word-break:break-word;color:#efefef;font-family:'Open Sans', sans-serif;font-weight:300;font-size:14px;line-height:150%;text-align:left;">
                                                                New Star named in the Galaxy of Love
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="background-color:#efefef;border-top:0;border-bottom:2px solid #c4c4c4;padding-top:9px;padding-bottom:0;color:#efefef">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding-top:15px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:'Open Sans', sans-serif;font-weight:300;font-size:16px;line-height:150%;text-align:left">
                                                                    <div style="text-align:center">
                                                                        <a href="http://www.galaxyoflove.co"><img align="none" src="http://d44k5f1zplbpz.cloudfront.net/staticImages/logo_dark.png" style="width:300px;min-height:65px;margin:0px;border:0;outline:none;text-decoration:none" width="200" class="CToWUd"></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
                                        <tbody>
                                            <tr>
                                                <td style="min-width:100%;padding:15px 18px 20px">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top-width:1px;border-top-style:solid;border-top-color:#2c3e50;border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top" style="padding-top:0px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:'Open Sans', sans-serif;font-size:16px;line-height:150%;text-align:left">
                                                    <div style="text-align:center">
                                                        <a href="{{starLink}}"><img align="none" src="{{starImage}}" style="width:100px;margin:0px;border:0;outline:none;text-decoration:none;border-radius:50px;border: 2px solid #2c3e50" class="CToWUd"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" style="padding-right:18px;padding-bottom:20px;padding-left:18px;word-break:break-word;ont-family:'Open Sans', sans-serif;font-size:16px;line-height:150%;text-align:left;">
                                                    <div style="text-align:center">
                                                        <a href="http://www.galaxyoflove.co" style="color:#2c3e50;text-decoration:none;font-size: 22px;font-weight:bold">{{name}}</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:30px;word-break:break-word;color:#2c3e50;font-family:'Open Sans', sans-serif;font-weight:300;font-size:14px;line-height:150%;text-align:left">
                                                                    <div style="line-height:20.8px;text-align:left"><span style="font-size:14px"><span style="font-family:arial,helvetica neue,helvetica,sans-serif">Hello {{user.name}},</span></span>
                                                                    </div>
                                                                    <div style="line-height:20.8px;text-align:left">
                                                                        <br>
                                                                        <span style="font-size:13px"><span style="font-size:13px;font-family:'Open Sans', sans-serif;font-weight:300;"><strong>A new Star has been in the Galaxy:  <span style="color:#ed4036">'{{name}}'</span>
                                                                    </strong>
                                                                        </span>
                                                                        <br>
                                                                        <br>Message : <br>
                                                                        <span style="color:#2d3e50;font-family:'Open Sans', sans-serif;font-weight:300;line-height:normal;white-space: pre-wrap;">{{message}}

                                            <br><br>--<br/>
                                            <img src="{{user.pictureUrl}}" style="width:50px;margin:0px;border:0;outline:none;text-decoration:none;border-radius:50px;border: 2px solid #2c3e50"><br><br>
                                            Posted by : {{user.name}}<br/><br/>

                                            Email :  {{user.email}}
                                            


                                            
                                                                    </div>
                                                                    <div style="clear:both">&nbsp;</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </span>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td style="padding-top:0;padding-right:18px;padding-bottom:15px;padding-left:18px" valign="top" align="center">
                                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:1px none #c9ab6e;border-radius:5px;background-color:#2c3e50">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="middle" style="font-family:'Open Sans', sans-serif;font-weight:300;font-size:14px;padding:15px;">
                                                                    <a title="Start Using Hngre Now" href="{{starLink}}" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;color:#efefef;display:block;text-decoration:none">Check out the Star Here</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            {{!-- <tr>
                                                <td style="padding-bottom:30px;padding-top:10px;font-size:12px;font-family:'Open Sans', sans-serif;font-weight:300;" valign="top" align="center">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="middle" style="">
                                                                    <a title="Start Using Hngre Now" href="http://www.galaxyoflove.co/#/why" style="letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#2c3e50;display:block;text-decoration:underline">Why the Galaxy of Love?</a>
                                                                </td>
                                                                <td align="center" valign="middle" style="padding-left:20px">
                                                                    <a title="Start Using Hngre Now" href="http://www.galaxyoflove.co/#/help" style="letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#2c3e50;display:block;text-decoration:underline">How can you help?</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr> --}}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- <tr>
        <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"></td>
    </tr> -->
                            <tr>
                                <td valign="top" style="background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px;border-radius:0px 0px 6px 6px ">
                                   
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <span class="HOEnZb"><font color="#888888">
                    </font></span><span class="HOEnZb"><font color="#888888">
                </font></span>
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:'Open Sans', sans-serif;font-weight:300;font-size:12px;line-height:150%;text-align:center">
                                                                    <br>
                                                                    <strong>Our mailing address is:</strong>
                                                                    <br> 5015, 38th Street, Long Island City, NY - 11101
                                                                    <br>
                                                                    <br>
                                                                    <a href="#"> <span style="color:#c4c4c4; text-decoration:underline">Unsubsricbe</span></a>
                                                                    <br>
                                                                    <br>
                                                                    <em>Copyright © 2016 Galaxyloflove.co  -  All rights reserved.</em>
                                                                    <br>
                                                                    </font>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table><span class="HOEnZb"><font color="#888888">
                
            </font></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table><span class="HOEnZb"><font color="#888888">
                        
                        
                    </font></span></td>
            </tr>
        </tbody>
    </table>
    <!-- FOOTER -->
</body>

</html>