body.intro {
    overflow: hidden;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #2c3e50;
    margin: 20px 0px;
    color: #2c3e50;
}

a {
    color: #2c3e50;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
    color: #2c3e50
}

button:disabled {
    opacity: .5;
    cursor: default;
}

.body-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.space {
    height: 1500px !important;
    width: 1200px !important;
    position: relative;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    z-index: 0;
    margin: 0px auto 0px auto;
    background-repeat: no-repeat;
    background: url("//d44k5f1zplbpz.cloudfront.net/staticImages/background-v4.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.scrollLeft {
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 9999;
    position: fixed;
    top: 50%;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    transform: translateY(-50%, -50%);
    cursor: pointer;
}

.scrollRight {
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 9999;
    position: fixed;
    top: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    transform: translateY(-50%, -50%);
    cursor: pointer;
}

.space.chooseStar {
    border-left: 1px dotted #1d3535;
    border-right: 1px dotted #1d3535;
}

.middle {
    width: 1200px;
    margin: 0px auto;
    text-align: left;
    overflow: hidden;
}

.navbar-mobile {
    margin-bottom: 0px !important;
    min-height: 65px !important;
    background-color: #efefef !important;
    border: none !important;
    border-bottom: 3px solid #1abc9c !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
    font-size: 16px;
}

.star {
    position: absolute;
    background-color: #d8d8d8;
    display: block;
    cursor: pointer;
    float: left;
    z-index: 5;
    box-shadow: 0px 0px 12px 2px rgba(250, 250, 250, 0.2);
    background: -webkit-radial-gradient(white 25%, rgba(255, 255, 255, 0.2) 75%);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(white 25%, rgba(255, 255, 255, 0.2) 75%);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(white 25%, rgba(255, 255, 255, 0.2) 75%);
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(white 25%, rgba(255, 255, 255, 0.2) 75%);
    /* Standard syntax */
}

.starbackground {
    position: absolute;
    width: 200px;
    height: 200px;
}

.star-available {
    position: absolute;
    /*background-image: url("../images/circle_available.png");*/
    background-color: #6f6f6f;
    opacity: 0.9;
    background-size: contain;
    display: block;
    cursor: pointer;
    float: left;
}

.star-available.star-selected {
    background-color: #1abc9c;
}

.star-disabled {
    position: absolute;
    background-color: #efefef;
    display: block;
    cursor: default;
    float: left;
}

.star-disabled.star-selected {
    background-color: white;
}

.nobackground {
    background: none;
}

.starImageContainer {
    margin: 0px auto;
    width: 120px;
    height: 120px;
    border-radius: 75px;
    margin-top: 50px;
    background-image: url('//d44k5f1zplbpz.cloudfront.net/staticImages/background-loader1.gif');
    display: block;
    background-position: center;
}

.starImageContainer > img {
    width: 120px;
    height: 120px;
    border-radius: 75px;
    border: 2px solid #efefef;
}

.starNameContainer,
.pageHeading {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 60px;
    color: white;
    margin-top: -5px;
}

.center {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.starPageContainer {
    min-height: 700px;
    background-repeat: no-repeat;
    background: url('//d44k5f1zplbpz.cloudfront.net/staticImages/background-v4.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.starMessageContainer {
    background-color: #efefef;
    height: 100%;
    min-height: 300px;
    margin: 50px auto 20px auto;
    border-radius: 6px;
    padding: 50px 30px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 23px;
    color: #2c3e50;
}

.starMessageContainer>p {
    text-align: left;
    white-space: pre-wrap;
    margin: 30px 0px 0px 0px;
    padding: 0px;
}

.radio-inline {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-right: 30px;
    padding: 0px;
}

.radio-inline:last-of-type {
    margin-right: 0px;
}

.bottom {
    margin-bottom: 2px;
}

.radio-inline.first {
    padding-left: 0px;
    margin-left: 0px;
}

.radio-inline.price {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: default;
    letter-spacing: 1px;
    margin: 20px auto;
    line-height: 20px;
}

.priceQuestion {
    color: white;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin-top: -2px;
}

.priceValue {
    display: inline-block;
    width: 75px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0px;
}

.rowChoose {
    padding: 20px 0px 0px 0px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /*  height: 40px;*/
    width: 100%;
    overflow: hidden;
}

.row {
    margin: 0px;
    padding: 0px;
    padding: 12px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /*  height: 40px;*/
    width: 100%;
    overflow: hidden;
}

.row.email {
    padding: 0px;
    padding: 30px 15px;
    overflow: none;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    color: #292321;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-top: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

input[type="radio"]+label span {
    background-color: white;
    border: 2px solid #efefef;
    margin-bottom: 2px;
}

input[type="radio"]:checked+label span {
    background-color: #ed4036;
    font-weight: bold;
}

input[type="radio"]+label span,
input[type="radio"]:checked+label span {
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

.form-group label {
    color: #2c3e50;
    font-size: 16px;
}

.textInput {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 400px;
    height: 35px;
    border: 1px solid #efefef;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 5px;
    color: #2c3e50;
}

.textInput.emailShare {
    width: 100%;
    height: 35px;
    font-size: 16px;
    box-shadow: none;
    line-height: 35px;
    -webkit-appearance: none;
    resize: none;
}

.textInput.contact {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    height: 20px;
    border: 1px solid #2c3e50;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 5px;
    color: #efefef;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.textInput.contact.long {
    height: 150px;
    font-size: 14px;
    color: #efefef;
}

.textInput.longMessage {
    width: 100%;
    height: 500px;
    font-size: 16px;
    color: #2c3e50;
    background-color: white;
    box-shadow: none;
    -webkit-appearance: none;
    resize: none;
}

.textInput.starName {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid #efefef;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 5px;
    background-color: white;
    line-height: 1.4em;
    line-height: 35px;
    box-shadow: none;
    -webkit-appearance: none;
}

.textInput.userName {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    border: 1px solid #efefef;
    color: #2c3e50;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 5px;
    /* display: block;*/
    margin-top: 20px;
    line-height: 1.4em;
    line-height: 35px;
    background-color: white;
    box-shadow: none;
    -webkit-appearance: none;
}

.textInputCoupon {
    border: none;
    background-color: #1abc9c;
    width: 50%;
    height: 35px;
    line-height: 35px;
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 5px;
    padding-left: 0px;
    box-shadow: none;
    -webkit-appearance: none;
}

.messagePictures ul {
    margin: 0px;
    padding: 0px 10px;
    list-style-type: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 100%;
}

.messagePictures ul li {
    display: inline-block;
    margin: 20px;
}

.messagePictures ul li:nth-last-child(1) {
    /*margin-right: 0px;*/
}

.messagePictures ul li:nth-last-child(1) .cross {
    /*margin-left: -8px;*/
}

.cross {
    position: absolute;
    margin-left: 37px;
    margin-top: -95px;
    cursor: pointer;
}

.starImage {
    /* border: 1px solid white;*/
    border-radius: 6px;
    /*margin-left: 145px;
                        margin-top: 5px;*/
    /*margin-left: 10px;*/
}

.starImage.messagePics {
    border: 1px solid white;
    margin-left: 0px;
    margin-right: 0px;
    width: 90px;
    height: 90px;
    border-radius: 6px
}

.starImage.messagePics.starPagePics {
    border: 1px solid white;
    margin-left: 0px;
    margin-right: 0px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

input[type="text"].textInputCoupon::-webkit-input-placeholder {
    /* Chrome */
    color: #84d3c3;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #84d3c3;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #84d3c3;
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #84d3c3;
    opacity: 1;
}

.textInput.error {
    border: 1px solid #ed4036;
}

.textInput.starName.error {
    border: 1px solid #ed4036;
}

.chooseStarContainer,
.nameStarContainer {
    background-color: #1abc9c;
    overflow: hidden;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
}

.section {
    margin: 20px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.section label {
    font-weight: 600;
}

.nameStarContainer h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #2c3e50;
    margin: 20px 0px 10px 0px;
}

.heartIcon {
    font-size: 50px;
    margin-top: -70px;
}

.fromImage>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #efefef;
    margin-top: 20px;
    object-fit: cover;
}

.fromImage .contact>img {
    width: 20px;
    border-radius: 50%;
    border: 1px solid #efefef;
    margin-top: 20px;
}

.fromName {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 28px;
    color: #efefef;
    margin-bottom: 40px;
    letter-spacing: 0px;
}

.line {
    /*width: 100%;*/
    height: 1px;
    display: block;
    border-bottom: 1px solid #efefef;
    opacity: .3;
    margin-right: 50px;
}

.line.half {
    width: 55%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.line.full {
    margin-right: 0px;
}

.line.hundred {
    width: 150px;
    margin: -5px auto 0px auto;
    opacity: .4;
}

.line.ten {
    width: 100px;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 3px;
}

.orLineSpan {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.fbLoginButton {
    cursor: pointer;
}

.fbLoginButton.show {
    display: block;
}

.fbLoginButton.hide {
    display: none;
}

.profileImage {
    border: 1px solid white;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.msgPicContainer {
    margin: 0px auto 20px auto;
}

.msgPicContainer>ul>li {
    display: inline-block;
    margin: 20px;
}

.msgPicContainer>ul {
    padding: 0px;
    margin: 0px;
}

.msgPicContainer ul li:nth-last-child(1) {
    /*margin-right: 0px;*/
}

.floating-bottom-navigation-container {
    background: #1abc9c;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    overflow: hidden;
    -webkit-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

.floating-bottom-navigation-container.ng-scope.ng-hide {
    -webkit-animation: fadeout 1s;
    -ms-animation: fadeout 1s;
    -o-animation: fadeout 1s;
    animation: fadeout 1s;
}

.floating-navigation {
    height: 100%;
    margin: 0 auto;
}

.floating-navigation span {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    float: left;
    margin-top: 16px;
    margin-left: 15px;
    display: block;
    letter-spacing: 1px;
}

.floating-navigation button {
    float: right;
    width: 100px;
    height: 100%;
    background-color: #ed4036;
    display: block;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.floating-navigation button:hover {
    background-color: #cd2b22;
}

.memories {
    color: #efefef;
    font-size: 22px;
    opacity: 0.2;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    margin-bottom: 30px;
}

.gps_ring {
    border: 2px solid #fff;
    position: absolute;
    z-index: 10;
    -webkit-animation: pulsate .7s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}

.gps_ring.home {
    border: 2px solid #1abc9c;
    -webkit-animation: pulsate1 1s ease-out;
    -webkit-animation-iteration-count: infinite;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    padding-top: 1%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .7;
}

.modal-header {
    padding: 15px 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #efefef;
    background-color: #1abc9c;
    border-radius: 4px 4px 0px 0px;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 18px;
    text-align: left;
    border-top: 1px solid #e5e5e5;
    overflow: auto;
}

.modal-footer span {
    margin-top: 12px;
    display: block;
    margin-left: 160px;
    font-weight: 600;
    color: #ed4036;
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.resultContent {
    background-color: #efefef;
    margin: 0px auto;
    padding: 20px 20px 20px 20px;
    color: #2c3e50;
}

.resultContent span {
    margin-top: 35px;
    font-size: 18px;
    white-space: pre-wrap;
}

.resultContent.confirmation {
    width: 600px;
}

.closeButton {
    width: 100%;
    display: block;
    background-color: #2c3e50;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: white;
    float: right;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 20px;
}

.closeButton.result {
    float: none;
    margin: 0px auto;
    width: 100%;
}

.introBackdrop {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    text-align: center;
    padding: 20px;
}

.introBackdrop.show {
    display: block;
}

.introContent {
    width: 100%;
    min-height: 280px;
    margin-top: 5%;
    color: white;
    padding: 30px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    -webkit-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
    letter-spacing: 0.5px;
    background-color: rgba(26, 188, 156, 1.0);
    border-radius: 6px;
    border: 1px solid #3a3a3a;
}

.introContent > h1 {
    font-size: 48px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.introContent > p {
    font-size: 22px;
    margin: 20px;
    padding-top: 10px;
}

.contactButton {
    display: block;
    width: 104%;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: #efefef;
    background-color: #2c3e50;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.contactButton.intro {
    margin: 40px auto 10px auto;
    /*background-color: #ED4036;*/
    width: 100%;
    font-weight: 300;
    border-radius: 6px;
    font-size: 16px;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0.0;
    }
}

@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(2.0, 2.0);
        opacity: 0.0;
    }
}

.validation-msg {
    float: left;
    height: 20px;
    display: block;
    color: white;
    font-size: 11px;
    position: absolute;
    margin-top: -12px;
    font-weight: 300;
}

.validation-msg.coupon {
    height: 40px;
    width: 230px;
    margin-left: 202px;
    position: absolute;
    margin-top: 35px;
    font-weight: 300;
    font-size: 11px;
}

.starImage {
    /*border: 1px solid white;*/
    border-radius: 5px;
}

.changeImageButton {
    width: 152px;
    background-color: #efefef;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: #2c3e50;
    border-radius: 5px;
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0px auto;
}

.changeImageButton.show {
    display: block;
}

.changeImageButton.hide {
    display: none;
}

.changeImageButton.show.create {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}

.changeImageButton.show.create.paypalButton {
    background: none;
}

.cropArea {
    background: #efefef;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    width: 100%;
    display: block;
    background-color: #2c3e50;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
}

.inputfile+label {
    cursor: pointer;
    /* "hand" cursor */
}

.progress {
    line-height: 40px;
    margin-left: 10px;
    color: #3498DB;
    font-size: 18px;
}

.cropUpload {
    width: 100%;
    display: block;
    background-color: #2c3e50;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: white;
    float: left;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.paymentRow {
    border-bottom: 1px dotted rgba(255, 255, 255, .4);
    overflow: hidden;
    vertical-align: bottom;
    font-size: 17px;
}

.paymentRow.last {
    border-bottom: none;
    margin-top: 20px;
}

.paymentRow.final {
    border-bottom: none;
    border-top: 1px solid rgba(255, 255, 255, .4);
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.paymentLeft {
    width: 70%;
    float: left;
    padding-left: 20px;
    display: inline-block;
    text-align: left;
}

.paymentRight {
    width: 30%;
    float: left;
    display: inline-block;
    padding-right: 20px;
    text-align: right;
    color: white;
}

.paymentRight.final {
    font-size: 22px;
    font-weight: 600;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.spinner.inline {
    width: 20px;
    height: 20px;
    margin: -31px 11px 0px 0px !important;
    float: right !important;
    position: relative !important;
}

.spinner.login {
    float: left;
    margin: 0px 0px 0px 180px;
}

.spinner.coupon {
    margin: -26px 0px 0px 165px;
    float: left;
    width: 20px;
    height: 20px
}

.spinner.result {
    margin: 0px auto;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    position: relative !important;
    margin: -30px auto 20px auto !important
}

.spinner.create {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px;
    margin-left: 20px;
    margin-top: 29px;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce1.result,
.double-bounce2.result {
    background-color: white;
}

.double-bounce1.green,
.double-bounce2.green {
    background-color: #1abc9c;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

#loading-bar,
#loading-bar-spinner {
    pointer-events: none;
    -webkit-pointer-events: none;
    -webkit-transition: 350ms linear all;
    -moz-transition: 350ms linear all;
    -o-transition: 350ms linear all;
    transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
    opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
    opacity: 1;
}

#loading-bar .bar {
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    -o-transition: width 350ms;
    transition: width 350ms;
    background: #1abc9c;
    position: fixed;
    z-index: 10002;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}


/* Fancy blur effect */

#loading-bar .peg {
    position: absolute;
    width: 70px;
    right: 0;
    top: 0;
    height: 3px;
    opacity: .45;
    -moz-box-shadow: #1abc9c 1px 0 6px 1px;
    -ms-box-shadow: #1abc9c 1px 0 6px 1px;
    -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
    box-shadow: #29d 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#loading-bar-spinner {
    display: block;
    position: fixed;
    z-index: 10002;
    top: 10px;
    left: 10px;
}

#loading-bar-spinner .spinner-icon {
    width: 20px;
    height: 20px;
    border: solid 3px transparent;
    border-top-color: #1abc9c;
    border-left-color: #1abc9c;
    border-radius: 50%;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation: loading-bar-spinner 400ms linear infinite;
    -ms-animation: loading-bar-spinner 400ms linear infinite;
    -o-animation: loading-bar-spinner 400ms linear infinite;
    animation: loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loading-bar-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes loading-bar-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes loading-bar-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading-bar-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.red {
    color: #ed4036;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.red2 {
    color: #ed4036;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.red3 {
    color: #ed4036;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.noborder {
    text-shadow: -2px 0 #efefef, 0 2px #efefef, 2px 0 #efefef, 0 -2px #efefef;
}
