<script>
window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));
</script>
<div class="middle">
    <div class="space starPage">
        <div class="resultContent confirmation">
            <div class="center">
                <!-- <span style="display:block">{{msg}}</span> -->
                <h1 ng-if="!err">Congratulations</h1>
                <span style="display:block;margin-bottom:30px">{{msg}}</span>
            </div>
            <div style="font-size:12px;font-weight:400;color:#2c3e5d;margin-top:35px;margin-bottom:10px;text-align:left;vertical-align:center" ng-if="!err"><i class="fa fa-external-link-square" aria-hidden="true"></i><span style="display:inline-block;text-decoration:underline;color:#2c3e50;font-size:12px;cursor:pointer;margin-top:5px;margin-left:5px"><strong><a target="_blank" href="{{shortUrl}}" style='margin-top:3px'>{{shortUrl}}</a></strong></span>
                <div style="float:right">
                    <img src="//d44k5f1zplbpz.cloudfront.net/staticImages/fb-share.png" ng-click="share.fb()" style="margin-right:5px;cursor:pointer;">
                    <a href="{{share.twitterUrl}}" target="_blank"><img src="//d44k5f1zplbpz.cloudfront.net/staticImages/tw-tweet.png"></a>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class='spinner result' ng-if="resultWaiting" style="margin-bottom:30px">
                <div class='double-bounce1 result'></div>
                <div class='double-bounce2 result'></div>
            </div>
            <div ng-if="!err">
                <form name="forms.emailShareForm">
                    <div class="center">
                        <div class="heartIcon" style="margin-top:-30px;"><i class="fa fa-heart red3" aria-hidden="true">
            </i> </div>
                    </div>
                    <div style="margin:-20px 25px 40px 25px">
                        <div class="row email">
                            <div class="center" style="margin-bottom:20px">Share the special star with that someone special in your life</div>
                            <div class="center">
                                <div style="width:100%;float:left">
                                    <input type='email' name="email" id="email" placeholder="Email to share with" class="textInput emailShare" ng-model="model.email" required>
                                </div>
                            </div>
                            <span style="margin-left:73px;position:absolute;margin-top:32px" ng-if="(forms.emailShareForm.email.$error.required || forms.emailShareForm.email.$error.email) && forms.emailShareForm.email.$dirty">A valid Email is Required</span>
                            <span style="margin-left:187px;position:absolute;margin-top:42px;font-size:13px" ng-if="!model.sendingEmail"><strong>{{model.emailMsg}}</strong></span>
                            <!-- <span style="margin-left:180px;position:absolute;margin-top:42px;font-size:13px"><strong>The star has been shared</strong></span> -->
                            <!-- <span style="margin-left:73px;position:absolute;margin-top:32px" ng-if="errors.length != 0">A Valid Email is Required</span> -->
                        </div>
                    </div>
                    <div class='spinner result' style="margin-top:-32px;position:absolute;margin-left:286px;width:25px;height:25px" ng-if="model.sendingEmail">
                        <div class='double-bounce1 result'></div>
                        <div class='double-bounce2 result'></div>
                    </div>
                </form>
            </div>
             <div class="modal-footer" ng-if="!resultWaiting">
            <div class="center">
                <button ng-click="close()" class="closeButton result" ng-if="err">{{buttonMsg}}</button>
                <button ng-click="sendEmails()" class="cropUpload" ng-if="!err" ng-disabled="forms.emailShareForm.email.$error.required || forms.emailShareForm.email.$error.email || model.sendingEmail">Share</button>
                <button ng-click="close()" class="closeButton" ng-if="!err" ng-disabled="model.sendingEmail">{{model.laterLabel}}</button>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </div>
        </div>
        </div>
       
    </div>
</div>