<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin: 0;padding: 0;">

<head>
    <!-- If you delete this meta tag, Half Life 3 will never be released. -->
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Galaxy of Love</title>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500|Open+Sans:300,400,600,700,800|Work+Sans:100" rel="stylesheet" type="text">
    <link rel="icon" type="image/vnd.microsoft.icon" href="http://localhost:3030/public/images/icon.ico" />
</head>

<body bgcolor="#fff" style="margin: 0;padding: 0;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%!important;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fff; ">
        <tbody>
            <tr>
                <td align="center" valign="top" style="height:100%;margin:0;padding:30px;width:100%;border-top:0">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0;max-width:600px!important;">
                        <tbody>
                            <tr>
                                <td valign="top" style="background-color:#2c3e50;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px;border-radius:6px 6px 0px 0px;border-bottom: 5px solid #1abc9c;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="366" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding-top:30px;padding-left:18px;padding-bottom:30px;padding-right:0;word-break:break-word;color:#efefef;font-family:'Open Sans', sans-serif, Helvetica; font-weight:300;font-size:14px;line-height:150%;text-align:left;">
                                                                    Welcome to the Galaxy of Love!
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="background-color:#fafafa;border-top:0;border-bottom:2px solid #c4c4c4;padding-top:9px;padding-bottom:0;color:#fafafa">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding-top:15px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:'Open Sans', sans-serif, Helvetica;font-weight:300;font-size:16px;line-height:150%;text-align:left">
                                                                    <div style="text-align:center">
                                                                        <a href="http://www.galaxyoflove.co"><img align="none" src="http://d44k5f1zplbpz.cloudfront.net/staticImages/v3/logo_galaxy_of_love_dark.png" style="height:65px;margin:0px;border:0;outline:none;text-decoration:none"class="CToWUd"></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
                                        <tbody>
                                            <tr>
                                                <td style="min-width:100%;padding:15px 18px 20px">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top-width:1px;border-top-style:solid;border-top-color:#2c3e50;border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <span></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top" style="padding-top:10px;padding-right:18px;padding-bottom:5px;padding-left:18px;word-break:break-word;color:#202020;font-family:'Open Sans', sans-serif, Helvetica;font-size:16px;line-height:150%;text-align:left">
                                                    <div style="text-align:center">
                                                        <a href="{{starLink}}"><img align="none" src="https:{{starImage}}" style="width:100px;margin:0px;border:0;outline:none;text-decoration:none;border-radius:75px;border: 1px solid #2c3e50" class="CToWUd"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" style="padding-right:18px;padding-bottom:20px;padding-left:18px;word-break:break-word;font-family:'Open Sans', sans-serif, Helvetica;font-size:16px;line-height:150%;text-align:left;">
                                                    <div style="text-align:center">
                                                        <a href="{{starLink}}" style="color:#2c3e50;text-decoration:none;font-size: 22px;">{{name}}</a>
                                                    </div>
                                                    <!-- <div style="text-align:center">
                                                        <a href="http://www.galaxyoflove.co" style="color:#2c3e50;text-decoration:none;font-size: 22px;">partinder</a>
                                                    </div> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:30px;word-break:break-word;color:#2c3e50;font-family:'Open Sans', sans-serif, Helvetica;font-weight:300;font-size:14px;line-height:150%;text-align:left">
                                                                    <div style="line-height:20.8px;text-align:left"><span style="font-size:14px">Hello {{user.name}},</span>
                                                                    </div>
                                                                    <div style="line-height:20.8px;text-align:left">
                                                                        <br>
                                                                        <span style="font-size:14px"><span style="font-size:13px;font-family:'Open Sans', sans-serif, Helvetica;font-weight:300;"><strong><span style="color:#ed4036">'{{name}}'</span> is shining bright!</strong>
                                                                        </span>
                                                                        <br>
                                                                        <br>
                                                                        <span style="color:#2d3e50;font-family:'Open Sans', sans-serif, Helvetica;font-weight:300;line-height:1.5">
Thank you for expressing your love and giving birth to a new star in the Galaxy of Love. You’ve joined me is making our beautiful world a more warm and loving place to live in.<br><br>Link to your star and the love message : <span><a href="{{shortUrl}}" style="color:#ed4036; font-weight:bold">{{shortUrl}}<a><span><br><br>Help me make the Galaxy of love shine even brighter, share it with your friends & family. Let us all express our love and let that someone special in our life feel really special. After all, Its all about love.<br><br>You can follow my adventures as a father and an entrepreneur <a href="http://www.startupandsons.com" style="color:#ed4036">here.</a><br><br>

Thanks once again for being a part of the Galaxy of Love.<br><br>
                                            --<br/>
                                            Spreading Love, One star at a time<br/><br/>

                                            <span style="line-height:130%;text-decoration:none;color:#2c3e50"><strong>Partinder Singh<br/>
                                            Founder<br/><br/>
                                           partinder@galaxyoflove.co<br>
                                            +91 9873756056</strong></span>
                                        
                                                                        </span>
                                                                        </span>
                                                                        </span>
                                                                    </div>
                                                                    <div style="clear:both">&nbsp;</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </span>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td style="padding-bottom:15px;" valign="top" align="center">
                                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:1px none #c9ab6e;border-radius:5px;background-color:#ed4036">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="middle" style="font-family:'Open Sans', sans-serif, Helvetica;font-weight:300;font-size:14px;padding:15px;">
                                                                    <a href="{{starLink}}" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;color:#fff;display:block;text-decoration:none">Check out your Star Here</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-bottom:10px;padding-top:10px;font-size:12px;font-family:'Open Sans', sans-serif, Helvetica;font-weight:300;" valign="top" align="center">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="middle" style="">
                                                                    <a title="Start Using Hngre Now" href="http://www.galaxyoflove.co/why" style="letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#2c3e50;display:block;text-decoration:underline">Why Galaxy of Love?</a>
                                                                </td>
                                                                <td align="center" valign="middle" style="padding-left:20px">
                                                                    <a title="Start Using Hngre Now" href="http://www.startupandsons.com" style="letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#2c3e50;display:block;text-decoration:underline">Our Blog</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="color:#2d3e50;font-family:'Open Sans', sans-serif, Helvetica;font-weight:300;line-height:1.3;font-size:12px;margin:0px 30px 30px 30px"><span><br><br><strong>P.S.</strong>Galaxy of love is a place to share and express love, there is no place for any obscene or offensive content, whatsoever. Any such star/message not following our guidelines will be removed permanently. So help us keep the Galaxy clean.</span></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!-- <tr>
        <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"></td>
    </tr> -->
                            <tr>
                                <td valign="top" style="background-color:#efefef;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px;border-radius:0px 0px 6px 6px ">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <span class="HOEnZb"><font color="#888888">
                    </font></span><span class="HOEnZb"><font color="#888888">
                </font></span>
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:'Open Sans', sans-serif, Helvetica;font-weight:300;font-size:12px;line-height:150%;text-align:center">
                                                                    <br>
                                                                    <strong>Our mailing address is:</strong>
                                                                    <br> #4, Level 8, Millennium Towers, Gurgaon - 122001
                                                                    <br>
                                                                    <br>
                                                                    <a href="#"> <span style="color:#c4c4c4; text-decoration:underline">Unsubsricbe</span></a>
                                                                    <br>
                                                                    <br>
                                                                    <em>Copyright © 2017 Galaxyloflove.co  -  All rights reserved.</em>
                                                                    <br>
                                                                    </font>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table><span class="HOEnZb"><font color="#888888">
                
            </font></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table><span class="HOEnZb"><font color="#888888">
                    </font></span></td>
            </tr>
        </tbody>
    </table>
    <!-- FOOTER -->
</body>

</html>