<div class="col-xs-12 chooseStarContainer">
    <div class="center">
        <div class="starNameContainer" style="color: #2c3e50;font-size: 36px; padding-top: 10px;padding-bottom: 20px;">
            How big a star do you want to create?
        </div>
        <div class="row">
            <div ng-repeat="cost in chooseStarController.costArray track by $index" class="radio-inline">
                <input type="radio" id="radio{{$index}}" name="radio" value="{{cost.radius}}" ng-model="chooseStarController.selectedRadius" />
                <label for="radio{{$index}}"><span></span>{{cost.starSize}}</label>
            </div>
        </div>
        <div class="row">
            <div class="radio-inline price">
                <span class="priceValue">{{chooseStarController.starPriceLabel}}</span>
                <div class="priceQuestion"><a href="" ng-click="priceClick()"><i class="fa fa-question-circle priceQuestion" aria-hidden="true"></i></a></div>
            </div>
        </div>
        <div class="line hundred"></div>
        <div class="row">
            <div class="rowChoose">
                <p align="center">
                    Touch in the space below to place your star. Try not to get too close to other.
                </p>
                <span class="arrowDown"><i class="fa fa-arrow-down fa-6 arrowDown" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="body-container" id="spaceBody">
    <div class="middle">
        <div class="space chooseStar" id="chooseStarSpace" ng-click="chooseStarController.spaceClicked($event)" style="padding-top:5px">
            <div class="gps_ring" style="
             top: {{chooseStarController.selectedPulse.top}}px; 
             left: {{chooseStarController.selectedPulse.left}}px; 
             width: {{chooseStarController.selectedPulse.width}}px;
             height: {{chooseStarController.selectedPulse.width}}px;
             -webkit-border-radius:{{chooseStarController.selectedPulse.radius}}px" ng-show="chooseStarController.selectedStar.selected">
            </div>
            <div style="top: {{ chooseStarController.selectedStar.top }}px; 
                    left: {{ chooseStarController.selectedStar.left }}px; 
                    width: {{chooseStarController.selectedStar.width }}px;
                    height:{{chooseStarController.selectedStar.width}}px;
                    -moz-border-radius: {{chooseStarController.selectedStar.width}}px;
                    -webkit-border-radius: {{chooseStarController.selectedStar.width}}px;
                    border-radius: {{chooseStarController.selectedStar.width}}px;" ng-class="{
                    'star-disabled' : chooseStarController.selectedStar.enabled,
                    'star-available': !chooseStarController.selectedStar.enabled,
                    'star-selected': chooseStarController.selectedStar.selected
                    }" ng-show="chooseStarController.selectedStar.selected">
            </div>
            <!-- <createstar star-data="chooseStarController.selectedStar" ></createstar> -->
            <div sly-repeat="star in chooseStarController.stars">
                <createstar star-data="star" star-clicked="chooseStarController.spaceClicked($event)"></createstar>
                <!-- <createstar star-data="star" index="{{$index}}"></createstar> -->
            </div>
        </div>
    </div>
</div>
<div class="floating-bottom-navigation-container" ng-show="chooseStarController.selectedStar.selected">
    <div class="floating-navigation">
        <span>
            <i class="fa fa-heart red" aria-hidden="true">
            </i>  AWESOME!
        </span>
        <button ng-click="chooseStarController.next()">
            Next
        </button>
    </div>
</div>
