<div class="body-container" id="spaceBody">
    <div class="middle">
        <div class="space">
            <div sly-repeat="star in homeController.stars">
                <star star-data="star" desktop="homeController.desktop"></star>
            </div>
            <div class="gps_ring" style="
             top: {{homeController.selectedPulse.top}}px; 
             left: {{homeController.selectedPulse.left}}px; 
             width: {{homeController.selectedPulse.width}}px;
             height: {{homeController.selectedPulse.width}}px;
             -webkit-border-radius:{{homeController.selectedPulse.radius}}px" ng-show="homeController.starService.searchItem.length">
            </div>
        </div>
    </div>
</div>

<div class="scrollLeft" style="" ng-click="homeController.scrollRight()"> <img src="//d44k5f1zplbpz.cloudfront.net/staticImages/left-green.png" width="35px" height="35px"> </div>
<div class="scrollRight" ng-click="homeController.scrollLeft()"> <img src="//d44k5f1zplbpz.cloudfront.net/staticImages/right-green.png" width="35px" height="35px"> </div>
