<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
<div class="col-xs-12 nameStarContainer">
    <form name="forms.starForm">
        <h1>Name the Star after <strong>that</strong> someone special in your life - </h1>
        <div class="line full"></div>
        <div class="section">
            <div class="form-group">
                <label for="starName">Star Name :</label>
                <input class="form-control textInput starName" ng-model="starName" ng-model-options="{ debounce: 500 }" id="starName" name="starName" ng-minlength="3" ng-maxlength="15" placeholder="Star Name" required>
            </div>
            <div class='spinner inline' ng-show="starNameWaiting">
                <div class='double-bounce1 result'></div>
                <div class='double-bounce2 result'>
                </div>
            </div>
            <span class="validation-msg" ng-show="forms.starForm.starName.$error.minlength" ng-show="starNameWaiting">Minimum 3 Characters</span>
            <span class="validation-msg" ng-show="forms.starForm.starName.$error.maxlength" ng-show="starNameWaiting">Maximum 15 Characters</span>
            <span class="validation-msg" ng-show="!forms.starForm.starName.$error.maxlength && !forms.starForm.starName.$error.minlength">{{starNameMsg}}</span>
        </div>
        <div style="clear:both">
        </div>
        <div class="section">
            <div class="form-group">
                <label for="starImage">Star Image :</label>
                <div style="border: 1px solid white;
                            width:152px;
                            height:152px;
                        border-radius: 5px;
                        margin: 5px auto;
                        background-image:url('//d44k5f1zplbpz.cloudfront.net/staticImages/background-loader1.gif'); background-position: center;">
                    <img ng-src="{{selectedStar.croppedImage}}" width="150px" class="starImage" style="cursor: pointer" ng-click="openImageSelector()" />
                </div>
                <button type="button" ng-click="openImageSelector()" class="changeImageButton show">Change Star Picture</button>
            </div>
        </div>
        <div style="clear:both"></div>
        <h1 style="margin-top:60px">Your <strong>special</strong> message - </h1>
        <div class="line full"></div>
        <div class="section">
            <div class="form-group">
                <label for="starMessage">Message :</label>
                <textarea class="textInput longMessage" placeholder="Write your heart out, once posted this message cannot be changed." ng-model="starMessage" id="starMessage" name="starMessage" ng-trim="false" required/>
            </div>
        </div>
        <div class="section">
            <div class="form-group">
                <label for="messagePictures">Message Pictures :</label>
                <div class="center">
                    <div class="messagePictures" style="margin: 0px auto;width: 100%">
                        <ul>
                            <li ng-repeat="pic in selectedStar.messagePics track by $index">
                                <img src="public/images/loader.gif" ng-src="{{pic.thumbnail}}" width="90px" height="90px" class="starImage messagePics" ng-click="removeImage($index)">
                                <!-- <img src="//d44k5f1zplbpz.cloudfront.net/staticImages/cross.png" class="cross" ng-click="removeImage($index)"> -->
                            </li>
                            <li ng-if="addImageShow()">
                                <img ng-src="//d44k5f1zplbpz.cloudfront.net/staticImages/messagePicPlaceholder.png" width="90px" class="starImage messagePics last" style="cursor: pointer" ng-click="openImageSelectorMsgPics($index)">
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <h1 style="margin-top:60px"><strong>About You</strong> - </h1>
        <div class="line full"></div>
        <div class="section">
            <div class="form-group">
                <div class="center" style="margin-top: 40px">
                    <div ng-if="!fbLoginStatus">
                        <img src="//d44k5f1zplbpz.cloudfront.net/staticImages/fb-login-large.png" ng-click="fbLogin()" width="200" class="fbLoginButton" ng-if="!fbLoginStatus">
                        <div>
                            <div class="line ten"></div>
                            <div class="orLineSpan">or</div>
                            <div class="line ten"></div>
                        </div>
                    </div>
                    <img ng-src="{{selectedStar.profileImagePlaceholder}}" width="80" class="profileImage" ng-click="openProfilePicSelector()" ng-style="fbLoginStatus ? {'margin-top':'0px'} : {}" />
                    <div>
                        <button type="button" class="changeImageButton show" ng-click="openProfilePicSelector()">Change Your Picture</button>
                    </div>
                    <input type="text" class="textInput userName" ng-model="selectedStar.user.name" id="userName" name="userName" placeholder="Name" required/>
                    <input type="email" class="textInput userName" ng-model="selectedStar.user.email" id="userEmail" name="userEmail" placeholder="Email" ng-change="emailChange()" required/>
                    <input type="email" class="textInput userName" ng-model="confirm.email" placeholder="Confirm Email" ng-show="!fbEmailId || confirmEmailStatus" />
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <h1 style="margin-top:60px"><strong>Payment</strong> - </h1>
        <div class="line full"></div>
        <div class="section">
            <div class="form-group">
                <div class="center" style="margin-top: 40px">
                    <div class="paymentRow">
                        <div class="paymentLeft">
                            <strong>{{selectedStar.starPrice.starSize}}</strong> star
                        </div>
                        <div class="paymentRight">{{starPriceLabel}}</div>
                    </div>
                    <div class="paymentRow last">
                        <div class="paymentLeft">
                            <input type="text" class="textInputCoupon" placeholder="Coupon Code" ng-model="coupon" id="coupon"> <a href on-click="validateCoupon()" style="font-size:14px;margin:0px;" ng-click="validateCoupon()">Apply</a>
                            <div class='spinner coupon' ng-if="couponWaiting">
                                <div class='double-bounce1'></div>
                                <div class='double-bounce2'>
                                </div>
                            </div>
                            <span style='font-size:11px;color:white;margin-top:7px;font-weight:300;display:inline-block'>
                                                {{couponValidationMsg}}
                                            </span>
                        </div>
                        <div class="paymentRight">{{couponAmount}}
                        </div>
                    </div>
                    <div class="paymentRow final">
                        <div class="paymentLeft">
                            Total
                        </div>
                        <div class="paymentRight final">{{revisedAmount}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="line full"></div>
        <div class="section">
            <div class="form-group">
                <div class="center" style="margin-top: 60px">
                    <div style="text-align: center;">
                        <div vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()" style="display: inline-block;"></div>
                    </div>
                </div>
            </div>
            <div class="section" ng-show="anyErrors()">
                <div class="row" style="margin:0px">
                    <!-- Show errors -->
                    <h3 style="color:#ed4036;font-size:20px;font-weight:600">Ooops! We need the following, I am sure it won't take much time.</h3>
                    <div class="formErrors">
                        <ul ng-show="anyErrors()">
                            <li ng-repeat="error in errors">{{error}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line" ng-show="anyErrors()"></div>
            <div style="font-size:14px;color:#efefef;margin-right:40px;margin-top:40px;text-align:center">By naming a star in the Galaxy of Love you accept our <a href="/terms">Terms of service</a> and <a href="/privacy">Privacy policy</a> unconditionally.</div>
            <div class="center">
                <button type="button" class="changeImageButton show create" ng-click="createStar()"> Name the Star
                </button>
            </div>
        </div>
    </form>
</div>
