<script>
window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));
</script>
<div class="body-container" id="spaceBody">
    <div class="col-xs-12 starPageContainer">
        <div class="center">
            <div class="starImageContainer">
                <img ng-src="{{starPageController.starData.starImage}}">
            </div>
            <div class="starNameContainer">
                {{starPageController.starData.name | capitalize}}
            </div>
            <div class="sharingIcons" style="float: right;color:white;cursor:pointer;margin-top: 10px">
                <img src="//d44k5f1zplbpz.cloudfront.net/staticImages/facebook-256.png" ng-click="starPageController.share('fb')" style="margin-right:5px" width="30px">
                <a href="{{starPageController.twitterUrl}}" target="_blank"><img src="//d44k5f1zplbpz.cloudfront.net/staticImages/twitter-256.png" width="30px"></a>
            </div>
            <div class="starMessageContainer">
                <div class="heartIcon"><i class="fa fa-heart red noborder" aria-hidden="true">
            </i> </div>
                <div style="margin-top:30px"><span style="font-weight:600;margin-top:-5px; font-family:'Cormorant Garamond', serif; font-size:24px">{{starPageController.starData.dateString}}</span>
                </div>
                <p>{{starPageController.starData.message}}</p>
            </div>
            <span style="color:#efefef;font-size:14px font-family">- With love</span>
            <div class="fromImage">
                <img src="//d44k5f1zplbpz.cloudfront.net/staticImages/background-loader1.gif" ng-src="{{starPageController.starData.user.pictureUrl}}">
            </div>
            <div class="fromName">
                {{starPageController.starData.user.name | capitalize}}
            </div>
            <div class="line hundred" style="margin-bottom: 20px"></div>
            <div class="msgPicContainer">
                <ul>
                    <li ng-repeat="pic in starPageController.starData.messagePics">
                        <a ng-click="starPageController.openLightboxModal($index)"><img src="//d44k5f1zplbpz.cloudfront.net/staticImages/background-loader1.gif" ng-src="{{pic.thumbnail}}" style="width:100px;height:100px; border: 2px solid white; border-radius: 10px"></a>
                    </li>
                </ul>
            </div>
            <div class="memories" ng-if="starPageController.starData.messagePics.length > 0">Memories</div>
        </div>
    </div>
</div>
