<div class="body-container" id="spaceBody">

<div class="col-xs-12 starPageContainer" ng-if="where === 'what'">
    <div class="center">
        <!-- <div class="starImageContainer">
            <img ng-src="{{starPageController.starData.starImage}}">
        </div> -->
        <div class="starNameContainer" style="margin: 70px;">
           What is Galaxy of Love
        </div>
        <div class="starNameContainer">
            {{starPageController.starData.name | capitalize}}
        </div>
        <div class="sharingIcons" style="float: right;color:white;cursor:pointer;margin-top: -40px">
            <img src="//d44k5f1zplbpz.cloudfront.net/staticImages/fb-share.png" ng-click="starPageController.share('fb')" style="margin-right:5px">
            <a href="{{starPageController.twitterUrl}}" target="_blank"><img src="//d44k5f1zplbpz.cloudfront.net/staticImages/tw-tweet.png"></a>
        </div>
        <div class="starMessageContainer">
            <div class="heartIcon"><i class="fa fa-heart red noborder" aria-hidden="true">
            </i> </div>
            <div style="margin-top:30px"><span style="font-weight:600;margin-top:-5px; font-family:'Cormorant Garamond', serif; font-size:24px">{{starPageController.starData.dateString}}</span>
            </div>
            <p style="font-size:14px;line-height:20px; word-spacing: 2px">Galaxy of love was fathered to life as a gift of love from a father to his newborn son for his 18th birthday. It is a virtual Galaxy made up for ‘love stars’ where people name a star and post a message for ‘THAT’ someone special in their life. It is an expression of Love, a place to express love, a place to spread love.

What makes us who we are, are our relations, people whom we share our lives with; our parents, our spouse, our kids, our friends, our loves, our crushes and yet most of us shy away from telling them how much we love them, what they mean to us. We miss out on the best moments of our lives just because we dont express our love for those who matter the most. Don’t shy way from this opportunity, open your heart and let your ‘Being’ rejoice in the celebration of life.

You can post a message for anyone or anything, be it your son, wife, girlfriend, crush, your bike etc. It doesn’t matter who or what it is as long as you truly love it. However our only request is write with shear love. So when you name a star and post a message for your loved one, write your heart out and remember you can’t change your mind as whatever once posted cannot scrubbed off under any circumstances and the message will remain in the galaxy for at least 18 years, guaranteed, till at least 8th Sep 2032, if not forever. However the idea is to keep it live in Cyberspace ‘forever’.

So next time instead of buying someone a gift which will eventually fade away, express your love and write them a love message and let them cherish it forever.

Please note that the Galaxy can be made of a limited number of stars because of the digital space constraints. I wanted to keep the galaxy free for all, forever, but I had to put a small fee for naming a star to ensure I can keep the Galaxy up and running. 

Happy Messaging and God Bless!
                    </p>
        </div>
    </div>
    </div>



<div class="col-xs-12 starPageContainer" ng-if="where === 'why'">
    <div class="center">
        <!-- <div class="starImageContainer">
            <img ng-src="{{starPageController.starData.starImage}}">
        </div> -->
        <div class="starNameContainer" style="margin: 70px;">
           Why Galaxy of Love
        </div>
        <div class="starNameContainer">
            {{starPageController.starData.name | capitalize}}
        </div>
        <div class="sharingIcons" style="float: right;color:white;cursor:pointer;margin-top: -40px">
            <img src="//d44k5f1zplbpz.cloudfront.net/staticImages/fb-share.png" ng-click="starPageController.share('fb')" style="margin-right:5px">
            <a href="{{starPageController.twitterUrl}}" target="_blank"><img src="//d44k5f1zplbpz.cloudfront.net/staticImages/tw-tweet.png"></a>
        </div>
        <div class="starMessageContainer">
            <div class="heartIcon"><i class="fa fa-heart red noborder" aria-hidden="true">
            </i> </div>
            <div style="margin-top:30px"><span style="font-weight:600;margin-top:-5px; font-family:'Cormorant Garamond', serif; font-size:24px">{{starPageController.starData.dateString}}</span>
            </div>
            <p style="font-size:14px;line-height:20px; word-spacing: 2px">Galaxy of love began with a Big Bang on 8th Sep 2014 when I was blessed with the most beautiful thing in my life, my son, <a href="/star/sartaaj">Sartaaj</a>. He made a special place in my heart even before he was born, a place which I never knew existed, a place that made me experience the deepest, the purest form of love: Father’s love. The first time Sartaaj’s tiny little fingers clutched my hand, he ended up clutching my soul, forever. Being a father is real bliss, the euphoria combined with the overwhelming rush of emotions is something to be relived again and again.

Words can never express what I feel for him yet I want him to somehow know what he means to me for him to one day rejoice when he comes of age. Yes, I have shot tons of pictures and movies of him but those will only help him ‘see’ his childhood days but I want more, I want him to feel this phase of my life, this outrageously beautiful phase. The seed for the Galaxy was sown at Sartaaj’s birth but it did not spur out until I came across <a href="https://www.instagram.com/p/BFRQlgOCMWb/" target="_blank">this</a> post by Sushmita Sen for her daughter. 

I too wanted to pen down my thoughts, my feelings for him, hoping one-day Sartaaj reads them. Perhaps, I could write him emails or postcards but am sure that those would be lost in this age of Information overload. A part of me also wanted to know what my parents experienced when I came to being. Unable to find something, I set out to create Galaxy of Love, a place for all of us to put our feelings into words and let them live in eternity.

Though I set out to create something for new parents but ended up creating something that celebrates love from all walks of life. We don't lack love or being loved, we lack expressing it. Go on, tell someone how much you love them and see the magic unfold. Remember, not expressing your love is like wrapping a gift and never giving it.

After all, It's all about Love.
                    </p>
        </div>
    </div>
    </div>
    
</div>